<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.kim.mapper.UserMapper">


    <select id="queryUserList" resultType="User">
        select * from users
    </select>

    <select id="selectUserById" resultType="User">
        select * from users where user_id = #{id}
    </select>

    <insert id="addUser" parameterType="User">
        insert into bishe.users (user_id, user_name, user_pubKey)values (#{user_id}, #{user_name}, #{user_pubKey});
    </insert>


    <update id="updateUser" parameterType="User">
        update bishe.users set user_name = #{user_name} where user_id = #{user_id};
    </update>

    <delete id="deleteUser">
        delete from bishe.users where user_id = #{id};
    </delete>

    <select id="selectPubKey" resultType="String">
        select user_pubKey from users where user_name = #{name}
    </select>

</mapper>